@charset "utf-8";

@media screen and (orientation:landscape){
}
body {

}

h1 {
  color: cornsilk;
	text-align:left;
font-family:"alexa-std";


}
div {    
 
 }  
 
#left {    
 text-align: left;  
 }  
 #center {    
 text-align: center;  
 }  
 #right{    
	 text-align: right; }
  

#left{    
 float: left;  
 }  
 #right{    
	 float: right;  }

#e {
  isolation: auto;
}
.parallax {
  /* The image used */
  background-image: url("https://i.ibb.co/0Y99SRr/background-2-0.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
	
/* Pasha's own additions*/
	  margin: 0px;
}

.default {
  background-color: black;
  color: azure;
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
	padding-bottom: 0;

} 
.first {

	  display: block;
  margin-left: 0;
  margin-right: 0;
	margin-bottom: 0;
  width: 100%;
	
}

header {
	color: cornsilk;
	text-align: center;
		letter-spacing: 2.5px;
	line-height: 10;
	
}

h1 {
	color:cornsilk;
	text-align: center;
	text-decoration: overline;
	letter-spacing: 4px;
	line-height: 2;
	
}

head {
	
	opacity: 0%;
	
}